
  .main{
    background-color: whitesmoke;
    font-size: 1.2em;
    max-height: 100vh;
    
    max-width: 100vw;
  }
  
  @media (max-width: 600px) {
    body {
      width: 100%;
      height: 100%;
    }
  }
  