/*Make the wrapper a flexbox, align the items in the center and add some extra styles*/
.navMain{
  background-color: whitesmoke;
  max-width: 100%;
}

.navWrapper {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: space-between;
    max-width: 100%;
  }

  .scrollNav{
    display: flex;
    flex-direction: row;
    align-self: center;
    font-family: montserrat;
    font-size: larger;
    border: 1px, black;
    margin-right:7%;
    font-weight: 900;
    border: 2px, solid, black;
  }

  a{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    min-width: fit-content;
  }

  
.MyName{
  font-family: Montserrat;
  font-size: x-large;
  width: fit-content;
  font-weight: 900;
}

  @media (max-width: 600px) {
    .navMain{
      max-width: 70%;
    }

    .MyName{
      margin-right:15%;
    }

    .navWrapper{
      max-width: 100%;
    }
  
  }
  